---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Who's This Curmudgeon Guy? And Why Is He So Ornery?"
	description="Who indeed?"
	pubDate={new Date('August 08 2021')}
	heroImage="featured-about.webp"
>
			<p>The Cloud Curmudgeon is a longtime tech guy that has interests as diverse as medicine, biotech, adtech, broadcast and digital media and cloud computing, and is kinda tired of witnessing human nature wreck all of these fields. He has been active since the early eighties, and likes to talk in metaphors. He believes humans are all good to a point, then their motivations get twisted by circumstance till they are not what they were any more. So if someone says they haven't changed at all, he calls bullshit. Everyone changes. And changes require tradeoffs. These tradeoffs can work in one's favor and bring positive change, or they can hang like leeches from a hippo's butt sucking out all goodness there is to be had. </p>
			<p>The Curmudgeon has become cynical over time. He began as a good natured human being whose faith in human nature kept getting challenged constantly. He is a poet at heart, and an observer trying to keep his blood from boiling. So if something he says makes <em>your</em> blood boil then tough bananas buddy. All he can offer you is a virtual hug.</p>
			<p>With that, <a href="/blog">let's rip right in.</a></p>
</Layout>
